# Handle line endings automatically
* text=auto

# Kotlin files
*.kt text eol=lf
*.kts text eol=lf

# Gradle files
*.gradle text eol=lf
*.gradle.kts text eol=lf
gradle-wrapper.properties text eol=lf

# Properties files
*.properties text eol=lf

# XML files
*.xml text eol=lf

# JSON files
*.json text eol=lf

# Markdown
*.md text eol=lf